<div id="board">
  <% (1..9).each do |id| %>
    <% if id == 1 || id == 4 || id == 7 %>
      <div class="row">
    <% end %>

    <% if session["space#{id}"] == "user" %>
      <div class="space x-filled" id="<%= id %>"></div>
    <% elsif session["space#{id}"] == "comp" %>
      <div class="space o-filled" id="<%= id %>"></div>
    <% else %>
      <% if @game_over %>
        <div class="space" id="<%= id %>"></div>
      <% else %>
        <form action="/" method="post">
          <div class="space" id="<%= id %>">
            <button name="space<%= id %>" value="user" type="submit" ></button>
          </div>
        </form>
        <% end %>
    <% end %>

    <% if id == 3 || id == 6 || id == 9 %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @game_over %>
  <h1>Game Over</h1>
  <a href="/"><h2>New Game?</h2></a>
<% end %>

<script>
  for (var id = 1; id <= 9; id++) {
    if (id == 2 || id == 8) {
      $("#"+id).addClass("vertical-borders")
    } else if (id == 4 || id == 6){
      $("#"+id).addClass("horizontal-borders")
    } else if (id == 5) {
      $("#"+id).addClass("middle-space")
    }
  }

  $("#1, #2, #3, #4, #5, #6, #7, #8, #9").click(function() {
    if (!$(this).hasClass("o-filled") && <%= @game_over == false %>){
      $(this).addClass("x-filled")
    }
  })
</script>
